.info {
  padding: 0 15px 20px;
  letter-spacing: 0.5px;
  color: #212121;
}
.name {
  font-weight: 600;
  color: #212121;
}
.iconsTagsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 100%;
  max-height: 340px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 0;
  background-image: url("../../assets/lazy-load-placeholder.png");
}
