.imageContainer {
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.image {
  width: 100%;
  height: auto;
}

.info {
  padding: 20px 15px;
  letter-spacing: 0.5px;
  color: #212122;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.name {
  font-weight: 600;
  margin: 0;
  padding-top: 2px;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #212121;
}
